
::v-deep(#my-table .is-group tr:nth-child(2) ) {
  display: none;
}

.container {
  width: 3000px;
  height: 1080px;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  background: rgb(10, 10, 30);

  .main {
    flex: 3;
    border: 2px solid rgb(6, 158, 224);


    .dv-bg {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      .title-text {
        padding: 0 22px;
        font-size: 23px;
        color: rgb(140, 144, 151);
      }

      .center {
        color: #20a7b3;
        font-size: 33px;
      }
    }

    .main-table {
      display: flex;
      justify-content: space-around;
      margin-top: 27px;

      .bg-box {
        display: flex;
        align-items: center;
        padding-left: 35px;
        font-size: 13px;

        img {
          position: absolute;
          left: 33px;
          width: 27px;
        }

        .num {
          color: #f6d944;
        }
      }
    }

    .main-content {
      display: flex;
      justify-content: space-between;

      .main-label {
        margin-top: 20px;

        ::v-deep(.el-pagination) {
          margin: 60px 20px 9px;

          button, li {
            color: #fff;
            background: rgb(35, 56, 69);

            &.is-active {
              background: rgb(28, 131, 145);
            }
          }
        }

        .main-label-table {
          width: 200px;
          height: 280px;
          margin: 29px 30px 0;
          display: flex;
          align-content: flex-start;
          flex-flow: wrap;
          justify-content: space-between;

          .table-item {
            border: 2px solid rgb(6, 158, 224);
            border-radius: 5px;
            width: 94px;
            height: 33px;
            margin-bottom: 10px;
            color: white;
            line-height: 33px;
            text-align: center;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .active {
            background: rgb(28, 131, 145)
          }
        }
      }

      .main-statistics {
        width: 330px;
        height: 330px;
        border: 10px solid rgb(13, 38, 74);
        border-radius: 50%;
        margin-top: 60px;
        position: relative;

        .ChartLabel {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;

          .chartName {
            color: #dddddd;
            margin-top: 10px;
            position: absolute;
            font-size: 22px;
            background-image: -webkit-linear-gradient(left, #F1ACACFF, rgba(6, 198, 206, 0.56) 10%, #6c6ce8 20%, #579ae3 30%, #6C6CE8FF 40%, #00FFFF 50%, #CCCCFF 60%, #2580E5FF 70%, #D0F66FFF 80%, #66FFFF 90%, #579AE3FF 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-background-size: 200% 100%;
            -webkit-animation: masked-animation 4s linear infinite;
          }

          @keyframes masked-animation {
            0% {
              background-position: 0 0;
            }
            100% {
              background-position: -100% 0;
            }
          }

          .beeline-box {
            width: 350px;
            height: 350px;
            background: palegreen;
            position: absolute;
            top: 0;

            .cake {
              border: 1px solid orange;
            }
          }
        }
      }
    }
  }

  .foot {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    overflow: hidden;

    .first-table {
      color: #fff;
      width: 100%;
      margin-top: 8px;

      #my-table {
        width: 100%;
        height: 100%;
        margin-top: 19px
      }
      ::v-deep(.el-table_1_column_1){
        width: 100px !important;
      }

      ::v-deep(.el-table){
        background-color:#000
      }

      ::v-deep(.el-table .cell) {
        padding: 0 2px;
        line-height: 14px
      }

      ::v-deep(.el-table__body td.el-table__cell) {
        background: rgb(10, 10, 30);
        color: #fff;
        border: 1px solid #333
      }

      ::v-deep(.el-table thead.is-group th.el-table__cell) {
        background: rgb(10, 10, 30);
        color: #ddd;
        border: none;

      }

      ::v-deep(.el-table thead.is-group th.el-table__cell) {
        border-right: 1px solid #333 !important;
      }

    }

    .zhu-zhuang-tu {
      flex: 1;
      border: 2px solid rgb(6, 158, 224);
      margin-left: 5px;

      .label-title {
        font-size: 14px;
        margin-top: 10px
      }

      .tubiao {
        width: 300px;
        height: 250px;
        margin-top: -38px;
        margin-left: 6px;
      }
    }
  }
}

.label-title {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  margin-left: 20px;
  flex: 1;

  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 16px;
    background: rgb(6, 255, 255);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
  }
}



.boxsurvey{
  margin-left: 4px;
}






