body,html{
  margin: 0;
  padding: 0;
}

.label-title {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  margin-left: 20px;
  flex: 1;

&:after {
   content: '';
   display: block;
   width: 6px;
   height: 16px;
   background: rgb(6, 255, 255);
   border-radius: 8px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: -12px;
 }
}